.nav {
    width: 96%;
    height: 90px;
    margin: 2% 2%;
    background-color: rgba(32, 145, 252, 0.685);
    border-radius: 10px;
    font-size: large;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 5px 5px, rgb(0, 0, 0, 0.5) 0px 5px 5px ;
}

.img {
    width: 80px;
}